In [1]:
from kedro.extras.datasets.pandas import CSVDataSet

/Users/lim_Hoang/opt/anaconda3/envs/europython-2021/lib/python3.7/site-packages/fsspec/__init__.py:43: DeprecationWarning: SelectableGroups dict interface is deprecated. Use select.
  for spec in entry_points.get("fsspec.specs", []):

In [6]:
COL_USER = "UserId"
COL_ITEM = "MovieId"
COL_RATING = "Rating"
COL_PREDICTION = "Rating"
COL_TIMESTAMP = "Timestamp"
movielens_dataset = CSVDataSet(filepath="http://files.grouplens.org/datasets/movielens/ml-100k/u.data", 
                               load_args=dict(sep="\t", names=[COL_USER, COL_ITEM, COL_RATING, COL_TIMESTAMP]))

In [7]:
df = movielens_dataset.load()

In [8]:
df.head()

   UserId  MovieId  Rating  Timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [9]:
%reload_kedro

2021-07-19 02:33:54,997 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-07-19 02:33:55,016 - kedro.framework.session.session - WARNING - Unable to git describe /Users/lim_Hoang/Projects/europython-2021-demo
2021-07-19 02:33:55,034 - root - INFO - ** Kedro project EuroPython 2021 Demo
2021-07-19 02:33:55,038 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [16]:
df = catalog.load("movielens")

2021-07-19 02:51:13,764 - kedro.io.data_catalog - INFO - Loading data from `movielens` (CSVDataSet)...

In [17]:
df.head()

   UserId  MovieId  Rating  Timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [34]:
%reload_kedro

2021-07-19 03:57:01,848 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-07-19 03:57:01,868 - kedro.framework.session.session - WARNING - Unable to git describe /Users/lim_Hoang/Projects/europython-2021-demo
2021-07-19 03:57:01,889 - root - INFO - ** Kedro project EuroPython 2021 Demo
2021-07-19 03:57:01,890 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [18]:
from europython_2021_demo.pipelines.data_processing.nodes import transform_movielens

transform_movielens(df)

       UserId  MovieId  Rating            Timestamp
0         196      242       3  1997-12-04 15:55:49
1         186      302       3  1998-04-04 19:22:22
2          22      377       1  1997-11-07 07:18:36
3         244       51       2  1997-11-27 05:02:03
4         166      346       1  1998-02-02 05:33:16
...       ...      ...     ...                  ...
99995     880      476       3  1997-11-22 05:10:44
99996     716      204       5  1997-11-17 19:39:03
99997     276     1090       1  1997-09-20 22:49:55
99998      13      225       2  1997-12-17 22:52:36
99999      12      203       3  1997-11-19 17:13:03

[100000 rows x 4 columns]

In [19]:
!kedro run --nodes transform_movielens

2021-07-19 02:51:48,219 - root - INFO - Registered CLI hooks from 1 installed plugin(s): kedro-telemetry-0.1.1
Usage: kedro [OPTIONS] COMMAND [ARGS]...
Try 'kedro -h' for help.

Error: No such command 'run'.

In [20]:
session

In [23]:
session.run(to_nodes=["transform_movielens"])

2021-07-19 02:58:43,744 - root - INFO - ** Kedro project europython-2021-demo
2021-07-19 02:58:43,763 - kedro.io.data_catalog - INFO - Loading data from `movielens` (CSVDataSet)...
2021-07-19 02:58:44,986 - kedro.pipeline.node - INFO - Running node: transform_movielens: transform_movielens([movielens]) -> [transformed_movielens]
2021-07-19 02:58:46,547 - kedro.io.data_catalog - INFO - Saving data to `transformed_movielens` (CSVDataSet)...
2021-07-19 02:58:46,759 - kedro.runner.sequential_runner - INFO - Completed 1 out of 1 tasks
2021-07-19 02:58:46,759 - kedro.runner.sequential_runner - INFO - Pipeline execution completed successfully.

{}

In [42]:
%reload_kedro

2021-07-19 03:59:51,453 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-07-19 03:59:51,471 - kedro.framework.session.session - WARNING - Unable to git describe /Users/lim_Hoang/Projects/europython-2021-demo
2021-07-19 03:59:51,491 - root - INFO - ** Kedro project EuroPython 2021 Demo
2021-07-19 03:59:51,492 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [31]:
session.run(to_nodes=["transform_movielens"])

2021-07-19 03:14:26,706 - root - INFO - ** Kedro project europython-2021-demo
2021-07-19 03:14:26,724 - kedro.io.data_catalog - INFO - Loading data from `movielens` (CSVDataSet)...
2021-07-19 03:14:28,127 - kedro.pipeline.node - INFO - Running node: transform_movielens: transform_movielens([movielens]) -> [transformed_movielens]
2021-07-19 03:14:29,785 - kedro.io.data_catalog - INFO - Saving data to `transformed_movielens` (CSVDataSet)...
2021-07-19 03:14:30,003 - kedro.runner.sequential_runner - INFO - Completed 1 out of 1 tasks
2021-07-19 03:14:30,004 - kedro.runner.sequential_runner - INFO - Pipeline execution completed successfully.

{}

In [44]:
movies = catalog.load("movies")

2021-07-19 03:59:57,045 - kedro.io.data_catalog - INFO - Loading data from `movies` (CSVDataSet)...

In [39]:
%reload_kedro

2021-07-19 03:59:23,682 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-07-19 03:59:23,696 - kedro.framework.session.session - WARNING - Unable to git describe /Users/lim_Hoang/Projects/europython-2021-demo
2021-07-19 03:59:23,715 - root - INFO - ** Kedro project EuroPython 2021 Demo
2021-07-19 03:59:23,716 - root - INFO - Defined global variable `context`, `session` and `catalog`

In [45]:
movies.head()

,MovieId,MovieTitle,ReleaseDate,VideoReleaseDate,IMDBUrl,Unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,SciFi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [2]:
%run_viz

In [1]:
import logging, sys
logging.disable(sys.maxsize)

In [9]:
cleaned_movies_df = catalog.load("cleaned_movies")

In [6]:
cleaned_movies_df.head()

   MovieId         MovieTitle
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)