In [1]:
movies_df = catalog.load("cleaned_movies")

2021-07-29 17:49:19,278 - kedro.io.data_catalog - INFO - Loading data from `cleaned_movies` (CSVDataSet)...

In [2]:
movies_df.head()

   MovieId         MovieTitle
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [3]:
model = catalog.load("model")

2021-07-29 17:49:39,292 - kedro.io.data_catalog - INFO - Loading data from `model` (PickleDataSet)...

In [5]:
ratings_df = catalog.load("cleaned_ratings")

2021-07-29 17:50:14,906 - kedro.io.data_catalog - INFO - Loading data from `cleaned_ratings` (CSVDataSet)...

In [6]:
ratings_df.head()

   UserId  MovieId  Rating  Timestamp
0     196      242     3.0  881250949
1     186      302     3.0  891717742
2      22      377     1.0  878887116
3     244       51     2.0  880606923
4     166      346     1.0  886397596

In [12]:
model.recommend_k_items(ratings_df[ratings_df['UserId'] == 196])

2021-07-29 17:52:21,070 - europython_2021_demo.pipelines.data_science.model - INFO - Calculating recommendation scores

   UserId  MovieId  Prediction
0     196       70    0.918307
1     196      202    0.906380
2     196      393    0.892003
3     196      655    0.873249
4     196        8    0.872251
5     196      153    0.846241
6     196       66    0.832622
7     196      204    0.832552
8     196       25    0.826706
9     196       88    0.808556